
#table-name{
    margin: 10px auto;
}

#user-form{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

input{
    font-size: 15px;
}

#user-table{
    width: max-content;
    margin: auto;
    text-align: center;
}
.add-user{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 18px;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    padding: 4px 20px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    padding: 6px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
}

.flex-content{
    display: flex;
}
.space-around{
    justify-content: space-around;
}

.logout{
    position: absolute;
    width: 120px;
    font-size: 18px;
    top:  4px;
    left: 93.5%;
}