<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="flex-content">
    <h1>Welcome to Index PAGE!</h1>
    <form method="get" action="/logout">
        <button type="submit" class="logout">Logout</button>
    </form>
</div>


</body>
</html>