<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div id="user-form">

  <form method="get" action="/logout" >
    <button type="submit" class="logout">Logout</button>
  </form>

  <form method="post">
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password"><br><br>

    <label for="name">Name</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="surname">Surname</label><br>
    <input type="text" id="surname" name="surname"><br><br>

    <label for="age">Age</label><br>
    <input type="text" id="age" name="age"><br><br>

    <label for="roles">Roles</label><br>
    <input type="text" id="roles" name="roles"><br><br>

    <button type="submit" class="add-user">Add User</button>
  </form>
</div>
</body>
</html>