<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div class="flex-content">
  <h1 id="table-name">Users</h1>
  <form method="get" action="/logout" >
    <button type="submit" class="logout">Logout</button>
  </form>
</div>

<div id="user-table">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Roles</th>
      <th>Action</th>
    </tr>
    <tr  th:each="user : ${users}">
      <td th:text="${user.id}"/>
      <td th:text="${user.name}"/>
      <td th:text="${user.surname}"/>
      <td th:text="${user.age}"/>
      <td th:text="${roles[userStat.index]}"/>
      <td>
        <div class="flex-content space-around">
          <form method="post" th:action="'/admin/users/delete/'+${user.id}"><button type="submit">delete</button></form>
          <form method="get"  th:action="'/admin/users/update/'+${user.id}"><button type="submit">update</button></form>
        </div>
      </td>

    </tr>
  </table>

  <form  method="get" action="/admin/users/create">
    <button type="submit" class="add-user">Add user</button>
  </form>



</div>

</body>
</html>