<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div class="flex-content">
    <h1 id="table-name">User</h1>
    <form method="get" action="/logout" >
        <button type="submit" class="logout">Logout</button>
    </form>
</div>


<div id="user-table">


    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:text="${user.name}"/>
            <td th:text="${user.surname}"/>
            <td th:text="${user.age}"/>
            <td th:text="${roles}"/>
        </tr>
    </table>
</div>

</body>
</html>